//color
$themeColor : #e5473c;
$themeMainColor : #f3f4f6;
$themeWhite : #fff;
$themeWhiteOpacity15 : rgba(255,255,255,0.15);
$themeWhiteOpacity20 : rgba(255,255,255,0.2);
$themeWhiteOpacity60 : rgba(255,255,255,0.6);
$themeBlackOpacity5 : rgba(0,0,0,.05);
$themeBlackOpacity10 : rgba(0,0,0,.1);
$themeBlackOpacity20 : rgba(0,0,0,.2);
$theme333 : #333;
$theme666 : #666;
$theme777 : #777;
$themeddd : #ddd;

//fontSize
$fontSize22 : 22px;
$fontSize24 : 24px;
$fontSize26 : 26px;
$fontSize28 : 28px;
$fontSize30 : 30px;
$fontSize32 : 32px;
$fontSize34 : 34px;
$fontSize36 : 36px;
$fontSize38 : 38px;
$fontSize40 : 40px;
$fontSize42 : 42px;
$fontSize44 : 44px;
$fontSize46 : 46px;
$fontSize48 : 48px;
$fontSize50 : 50px;

//lineHight
$lineHeight : 1.5;